* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .hero {
    background-image: linear-gradient(to right, blue , white);
    padding: 65px; 
    font-size: 28px; 
    color: white;
    text-transform: uppercase;
  }

  .hero p {
    font-size: 22px;
    text-transform: none; 
    font-style: italic;
  }

  main { 
    margin: 65px;
  }

  .search-box {
    display: block; 
  }

  .search-title {
    font-size: 22px; 
  }

  .search-city { 
    border: 1px; 
    padding-top: 15px;
    padding-bottom: 15px;  
  }

  .search-input { 
    font-size: 18px;
    padding: 5px;

  }
